@layer base {
  :root {
    --sm-gap: 10px;
    --med-gap: 20px;
    --medlg-gap: 30px;
    --lg-gap: 40px;

    --sm-br: 5px;
    --med-br: 10px;

    /* colors */
    --primary-clr: #1c7fb8;
    --text-clr: rgb(27, 27, 27);
  }

  p {
    color: var(--text-clr);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family: system-ui, sans-serif;
    margin: 0;
  }

  input,
  textarea,
  button,
  select {
    font: inherit;
    font-size: 100%;
  }

  a {
    color: inherit;
  }

  p {
    max-width: 60ch;
  }

  .ax-btn {
    all: unset;
    outline: revert;
    box-sizing: border-box;
  }
}
