@layer base {
  :root {
    --sm-gap: 10px;
    --med-gap: 20px;
    --medlg-gap: 30px;
    --lg-gap: 40px;

    --sm-br: 5px;
    --med-br: 10px;

    /* colors */
    --main-clr: rgb(255, 255, 255);
    --primary-clr: rgb(72, 167, 222);
    --secondary-clr: rgb(206, 233, 241);
    --accent-clr: rgb(238, 178, 65);
    --text-clr: rgb(27, 27, 27);
    --btm-border-clr: rgb(101, 101, 101);
  }

  html.dark-theme {
  }

  p {
    color: var(--text-clr);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family: system-ui, sans-serif;
    margin: 0;
  }

  input,
  textarea,
  button,
  select {
    font: inherit;
    font-size: 100%;
  }

  a {
    color: inherit;
  }

  p {
    max-width: 60ch;
  }

  .ax-btn {
    all: unset;
    outline: revert;
    box-sizing: border-box;
  }
}
