@layer base {
  :root {
    --sm-gap: 10px;
    --med-gap: 20px;
    --lg-gap: 40px;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family: system-ui, sans-serif;
    margin: 0;
  }

  input,
  textarea,
  button,
  select {
    font: inherit;
    font-size: 100%;
  }

  a {
    color: inherit;
  }

  p {
    max-width: 60ch;
  }

  .ax-btn {
    all: unset;
    outline: revert;
    box-sizing: border-box;
  }
}
