@layer component {
  .btn {
    cursor: pointer;
    opacity: 0.8;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 0.95rem;
    transition: opacity 200ms, translate 200ms;
  }

  .search-btn {
    display: flex;
    align-items: center;
  }

  .action-btn {
    background-color: var(--accent-clr);
    color: var(--text-clr);
    padding: 0.5em 1em;
    text-align: center;
    border-radius: 9999px;
  }

  .github-link-btn {
    height: 25px;
    transition: transform 1s ease-in-out;
  }

  .github-link-btn:hover {
    transform: rotate(360deg) scale(1.5);
  }

  .github-link-icon {
    height: 25px;
    width: 25px;
    transition: all 0.7s;
    fill: var(--primary-clr);
  }

  .github-link-btn:hover .github-link-icon {
    fill: var(--accent-clr);
    filter: drop-shadow(0 0 0.1em var(--accent-clr));
  }
}
