@layer component {
  .item-links-list {
    background-color: var(--main-clr);
    border-radius: var(--med-br);
    padding: var(--med-gap);
  }

  .item-links-list::-webkit-scrollbar {
    width: 15px;
  }

  .item-links-list::-webkit-scrollbar-thumb {
    background: var(--accent-clr);
    border-radius: 9999px;
  }

  .item-links-list::-webkit-scrollbar-track {
    background: var(--btm-border-clr);
    border-radius: var(--med-br);
  }

  .item-links-list div {
    border-bottom: 1px solid var(--btm-border-clr);
  }

  .item-links-list a:last-child div {
    border-bottom: none;
  }

  .item-links-list a:first-child h4 {
    margin-top: 0;
  }

  .item-links-list a {
    text-decoration: none;
  }
}
