@layer component {
  .nav {
    background-color: aqua;
    grid-area: nav;
    padding: var(--med-gap);
    display: grid;
    grid-template-rows: repeat(3, auto) 1fr;
    gap: var(--sm-gap);
  }

  .nav__title {
    margin: 0;
    display: flex;
    gap: var(--sm-gap);
    align-items: center;
  }

  .nav__list {
    padding: 0;
    list-style: none;
  }

  .nav-item {
    margin-bottom: var(--sm-gap);
  }

  .nav-item > a {
    display: flex;
    gap: var(--med-gap);
    align-items: center;
    text-decoration: none;
  }
}
