@layer component {
  .nav__title {
    margin: 0;
    display: flex;
    gap: var(--sm-gap);
    align-items: center;
  }

  .nav__list {
    padding: 0;
    list-style: none;
  }

  .nav-item {
    margin-bottom: var(--sm-gap);
  }

  .nav-item > a {
    display: flex;
    gap: var(--med-gap);
    align-items: center;
    text-decoration: none;
  }
}
