@layer component {
  .nav__title {
    margin: 0;
    display: flex;
    gap: var(--sm-gap);
    align-items: center;
  }

  .nav__list {
    padding: 0;
    list-style: none;
  }

  .nav-item {
    margin-bottom: var(--sm-gap);
  }

  .nav-item > a {
    display: flex;
    gap: var(--med-gap);
    align-items: center;
    text-decoration: none;
  }

  .nav-item > a:hover {
    text-decoration: underline;
  }

  #scroll-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
  }

  #scroll-to-top a {
    display: flex;
    align-items: center;
    gap: var(--sm-gap);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.2px;
    font-weight: 600;
    opacity: 0.8;
  }

  #scroll-to-top a:hover {
    opacity: 1;
  }
}
