@layer component {
  .project-card {
    position: relative;
    background-color: red;
    border-radius: var(--med-br);
    padding: var(--medlg-gap);
    display: grid;
    grid-template-rows: 1fr;
  }

  .project-card h4 {
    margin-top: 0;
    text-align: center;
  }

  .project-card a {
    text-decoration: none;
  }

  .project-card::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 2%;
    border-top-left-radius: var(--med-br);
    border-bottom-left-radius: var(--med-br);
    background-color: black;
  }

  .project-img {
    width: 100%;
    border-radius: var(--med-br);
    box-shadow: 5px 5px 4px rgba(0 0 0 / 0.5);
  }

  .project-actions {
    display: flex;
    gap: var(--med-gap);
    justify-content: end;
  }
}
