@layer component {
  .search-bar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 15px;
  }

  .search-label {
    display: flex;
    align-items: center;
  }

  .search-bar input[type="search"] {
    padding: 6px 16px;
    border-radius: 9999px;
    background-color: var(--secondary-clr);
    color: var(--text-clr);
    border: 0;
    flex-grow: 1;
  }
}
