@layer component {
  #toggle-theme svg {
    height: 25px;
    width: 25px;
    fill: var(--accent-clr);
  }

  #toggle-theme svg:hover {
    outline: 4px solid var(--accent-clr);
    border-radius: 50%;
  }
}
