@layer page {
  #dashboard-layout {
    display: grid;
    grid-template: auto 1fr / minmax(250px, 1fr) 5fr;
    grid-template-areas:
      "nav header"
      "nav content";
  }

  #dashboard-nav {
    background-color: var(--primary-clr);
    grid-area: nav;
    padding: var(--med-gap);
    display: grid;
    grid-template-rows: repeat(4, auto) 1fr;
    gap: var(--sm-gap);
  }

  #dashboard-main {
    background-color: var(--secondary-clr);
    padding-inline: var(--med-gap);
    display: grid;
    gap: var(--med-gap);
    grid-template-columns: 3fr 1fr;
  }

  #dashboard-main .item-links-list {
    overflow-y: scroll;
    max-height: 450px;
  }

  #dashboard-nav #toggle-theme {
    position: sticky;
    top: 20px;
    width: fit-content;
  }

  @media (max-width: 1035px) {
    #header {
      grid-template-columns: 1fr;
      justify-items: center;
    }

    .user-notifications {
      justify-self: center;
    }

    #dashboard-main {
      grid-template-columns: 1fr;
    }

    #dashboard-main .item-links-list {
      max-height: 200px;
    }

    #dashboard-main #projects-list {
      grid-template-columns: 1fr;
    }
  }
}
