@layer page {
  #dashboard-layout {
    min-height: 100vh;
    display: grid;
    grid-template: auto 1fr / minmax(250px, 1fr) 5fr;
    grid-template-areas:
      "nav header"
      "nav content";
  }

  #dashboard-nav {
    background-color: aqua;
    grid-area: nav;
    padding: var(--med-gap);
    display: grid;
    grid-template-rows: repeat(3, auto) 1fr;
    gap: var(--sm-gap);
  }

  #dashboard-header {
    padding: var(--sm-gap) var(--lg-gap);
    display: grid;
    gap: var(--med-gap) var(--lg-gap);
    grid-template: auto auto / 2fr 1fr;
    box-shadow: 0px 8px 4px -4px rgba(0 0 0 / 0.2);
  }

  #dashboard-main {
    padding-inline: var(--med-gap);
    display: grid;
    gap: var(--med-gap);
    grid-template: 1fr 1fr / 3fr 1fr;
  }
}
